data/
results/
utils/__pycache__/
analysis/__pycache__/
analysis_output/vs_base_llama3.1-8b-200-Inst/
plots/
scripts/__pycache__/
__pycache__/
utils/__pycache__/*
*/__pycache__/*
venv/
utils/__pycache__/
analysis/
plot_random_search_results.py
scripts/automate_arena_hard_judgment_multigpu.py
scripts/automate_alpaca_eval_alpha.py